.card {
    width: 30rem;
    height: 54rem;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    position: relative;
    border: 2px solid transparent;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    font-weight: bold;
    font-size: 1.4rem;
}

.card-header .stat {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card-header img {
    width: 1.8rem;
    height: 1.8rem;
}

.card-image {
    height: 18rem;
    min-height: 14rem;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

.card-content {
    flex: 1;
    padding: 5px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
}

.card-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 6px;
    width: fit-content;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.ability {
    margin: 1px 0;
}

.ability img {
    width: 2.8rem;
    height: 2.8rem;
    vertical-align: middle;
    margin-right: 5px;
}

.ability-name {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 1.3rem;
}

.ability-desc {
    color: #3f3f3f;
    font-family: "Merriweather", serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5px;
}

.quote {
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    margin-top: auto;
}

.rarity-gem {
    text-align: center;
    margin-top: 6px;
}

.rarity-gem img {
    width: 2.5rem;
    height: 2.5rem;
}

.card-wrapper {
    position: relative;
    width: 30rem;
}

.card-count {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: green;
    color: white;
    padding: 2px 6px;
    border-radius: 8px;
    font-weight: bold;
}

.card.commune {
    border-color: #aaa;
    background-color: #f3f3f3;
}

.card.commune .card-header {
    background-color: #dcdcdc;
    color: black;
}

.card.commune .card-title {
    background-color: #dcdcdc;
    color: black;
}

.card.commune .ability-name {
    background-color: #dcdcdc;
    color: black;
}

.card.rare {
    border-color: #3498db;
    background-color: #e4f1ff;
}

.card.rare .card-header {
    background-color: #3498db;
    color: white;
}

.card.rare .card-title {
    background-color: #3498db;
    color: white;
}

.card.rare .ability-name {
    background-color: #3498db;
    color: white;
}

.card.legendaire {
    border-color: gold;
    background-color: #fff6db;
}

.card.legendaire .card-header {
    background-color: gold;
    color: black;
}

.card.legendaire .card-title {
    background-color: gold;
    color: black;
}

.card.legendaire .ability-name {
    background-color: gold;
    color: black;
}

.card-footer {
    padding: 1rem;
    border-radius: 0 0 1.2rem 1.2rem;
    margin: -0.6rem -1rem -1rem -1rem;
    text-align: center;
}

.card.commune .card-footer {
    background-color: #dcdcdc;
    color: black;
}

.card.rare .card-footer {
    background-color: #3498db;
    color: white;
}

.card.legendaire .card-footer {
    background-color: gold;
    color: black;
}

.card-footer .rarity-gem img {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 6px;
    margin-bottom: 4px;
}

.card.mythique {
    border-color: purple;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.card.mythique .card-title {
    font-size: 1.5rem;
}

.card.mythique .ability {
    margin-bottom: -6rem;
}

.card.mythique .ability img {
    width: 2.8rem;
    height: 2.8rem;
}

.card.mythique .ability-name {
    font-size: 1.5rem;
}

.card.mythique .card-title,
.card.mythique .ability-name {
    color: #b57eff;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.card.mythique .card-header,
.card.mythique .ability-desc,
.card.mythique .quote {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}
